# Example configuration with separate 2A frame power sensor

sensor:
  # Norwegian HAN M-Bus Meter Sensors
  - platform: mbus_meter
    id: mbus_reader
    
    # Enable separate 2A frame sensor
    2a_frame_own_sensor: true
    
    # Main power sensor (will only show A1 frame power)
    power:
      name: "AMS Power consumption (A1 frame)"
      unit_of_measurement: W
      device_class: power
      state_class: measurement
      accuracy_decimals: 0
      icon: mdi:flash-outline
      
    # Separate 2A frame power sensor
    power_2a_frame:
      name: "AMS Power consumption (2A frame)"
      unit_of_measurement: W
      device_class: power
      state_class: measurement
      accuracy_decimals: 0
      icon: mdi:flash-outline
      filters:
        # Optional: Add filters to handle meter bugs
        # Ignore suspiciously low values (< 50W)
        - lambda: |-
            if (x < 50) {
              return {};  // Return empty optional to skip update
            }
            return x;
            
    # Other sensors remain the same
    current_l1:
      name: "AMS Amp L1"
      unit_of_measurement: A
      device_class: current
      state_class: measurement
      accuracy_decimals: 1
      
    # ... rest of sensors ...